

<div style="text-align: center">
<!-- 	<embed src="/img/better_thesis.pdf" width="800" height="800"> -->
	<object data ="/img/better_thesis.pdf" type="application/pdf" width="100%" height="600px">
</div>

